<div class='container' style="padding-top: 20px;">
  <div class='row'>
    <div class='span8'>

      <form action="/songs/<%= @song.id %>" method="POST">

        <input type="hidden" name="_method" value="PUT">
        <label>
          Title
        </label>
        <input type="text" name="song[title]" value="<%= @song.title %>"/>

        <label>
          Artist
        </label>
        <input type="text" name="song[artist]" value="<%= @song.artist %>"/>

        <label>
          Album
        </label>
        <input type="text" name="song[album]" value="<%= @song.album %>"/>

        <label>
          Genre
        </label>
        <input type="text" name="song[genre]" value="<%= @song.genre %>"/>

        <label>
          Length
        </label>
        <input type="text" name="song[length]" value="<%= @song.length %>"/>
        <br>
        <button type="submit">Save Changes</button>
      </form>

    </div>
  </div>
</div>


